@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(205, 203, 203, 0.816);
}
header{
    background-color: rgb(123, 123, 123);
}

header h1{
    text-align: center;
    padding: 5px;
}

menu{
    display: block;
}

menu ul{
    list-style-type: none;
}

menu a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: white;
    border-top: 2px solid rgba(205, 203, 203, 0.816);;
}

menu a:hover{
    background-color: rgba(205, 203, 203, 0.816);
}

main{
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    background-color: aliceblue;
}
article h2{
    text-align: center;
    margin-bottom: 10px;

}

article p{
    text-align:justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

footer{
    text-align: center;
}