@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 400px;
}

tr > td:nth-child(2n){
    background-color: gray;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}