@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
}

caption{
    font-size: 1.3em;
    font-weight: bold;
    background-color: green;
    padding: 10px;
}

thead{
    background-color: gray;
    color: white;
}

th, td {
    border: 2px solid black;
    padding: 10px;   
}

td{
    text-align: center;
}

td.num{
    text-align: right;
}

tfoot{
    background-color: black;
    color: white;
}