@charset "UTF-8";

@media screen and (min-width: 768px ) and (max-width: 922px) {
    body{
        background: linear-gradient(to top, #58FACC, #5752FF);
    }

    section#logim{
        width: 80vw;
        height: 380px;
    }

    div#imagem{
        float: left;
        height: 100%;
        width: 30%;
        background-position: right bottom;
    }

    div#formulario{
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 922px) {
    body{
        background: linear-gradient(to top, #58FACC, #5752FF);
    }
    
    section#logim{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 500px;
    }

    #title h2{
        text-align: center;
        font-size: 3em;
    }

    div#imagem{
        float: left;
        height: 100%;
        width: 50%;
        background-position: center center;
    }

    div#formulario{
        float: right;
        width: 50%;
    }
}