@charset "UTF-8";

/* Paleta de Cores 
------------------
    #58FACC Verde Claro
    #0BD6E3 Verde azulado
    #009AFA Azul
    #0547E6 azul escuro
    #5752FF Azul Aroxeado
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color:#5752FF;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section#logim{
    background-color: aliceblue;
    width: 350px;
    height: 750px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.400);

    overflow: hidden; /* Tudo que estiver fora da borda vai ficar escondido */

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem{
    display: block;
    background: #5752FF url(../imagens/pexels-carlos-rodríguez-sánchez-11736895.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height:300px;
}

div#formulario{
    display: block;
    padding: 10px;
}

#title{
    font-size: 1em;
    text-align: justify;
    margin-bottom: 10px;
}

#title h2{
    font-size: 2em;
}

.caixa{
    background-color: #5752FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    /* border: 2px solid #5752FF; */
    border-radius: 8px;
}

div.caixa span{
    color: white;
    font-size: 2em;
    width: 40px;
    height: 100%;
    text-align: center;
}

input[type=email]{
    background-color: #b0aefa;
    width:calc(100% - 42px);
    height: 30px;
    border: none;
    border-radius: 8px;
}

input[type=password]{
    background-color: #b0aefa;
    width:calc(100% - 42px);
    height: 30px;
    border: none;
    border-radius: 8px;
}

input:focus-within{
    background-color: white;
    border: none;
}

label{
    display: none;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
}

form input[type=submit]{
    display: block;
    width: 100%;
    height: 30px;
    background-color:#5752FF ;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: #009AFA;
}

form button{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1em;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color:#42c09cf9 ;
    cursor: pointer;
}

form button a{
    text-decoration: none;
    color: white;
}

form button:hover{
    background-color:#08e6a7cc ;
}